<div class="container">
  <form [formGroup]="currencyForm" (ngSubmit)="CalculateExchangeValue()">
    <div class="row">
      <div class="col form-group">
        <label for="Amount" class="form-label">Amount</label>
        <input type="text" id="Amount" formControlName="amount" class="form-control form-control-lg" placeholder="Amount" name="Amount">
      </div>
      <div class="col">
        <label for="FromCurrency" class="form-label">From Currency</label>
        <select id="FromCurrency" formControlName="fromcurrency" class="form-select form-select-lg" aria-label=".form-select-lg example" name="FromCurrency">
          <option *ngFor="let currency of currencies" value={{currency.currencyCode}}> {{currency.currencyCode + ' - ' + currency.currencyName}}  </option>
        </select>
      </div>
      <div class="col">
        <label for="ToCurrency" class="form-label">To Currency</label>
        <select id="ToCurrency" formControlName="tocurrency" class="form-select form-select-lg" aria-label=".form-select-lg example" name="ToCurrency">
          <option *ngFor="let currency of currencies" value={{currency.currencyCode}}> {{currency.currencyCode + ' - ' + currency.currencyName}}  </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><br /></div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" type="submit" [disabled]="!currencyForm.valid">Convert</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12"><br /></div>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="convertCurrencyResult !== undefined">
        <span class="label label-success">{{ convertCurrencyResult.amount }} {{ convertCurrencyResult.fromCurrencyCode }} = {{ convertCurrencyResult.convertedAmount }} {{ convertCurrencyResult.toCurrencyCode }}</span>
        <br />
        <span class="label label-success">Exchange Rate = {{ convertCurrencyResult.rate }}</span>
      </div>
    </div>
  </form>
</div>
